* {
    font-family: "San Francisco";
}

html {
    font-family: "San Francisco";
}

body {
    font-family: "San Francisco";
}

.container {
    width: 95%;
    margin: 2.5%;
}

h1,h2,h3,h4,h5,h6,p {
    margin: 0;
}

.mainTitle {
    font-weight: 100;
    font-size: 52px;
}

.boldMainTitle {
    font-weight: 600;
}

.containerForm {
    margin: 50px;
}

.noPad {
    padding: 0 !important;
}

.mainScreen {
    margin-top: 35px;
    height: 450px;

}

.quesTile {
    height: 450px;
    padding: 20px;
    /* background-color: aqua; */
    
}

.addBS {
    box-shadow: 2px 7px 7px rgba(0,0,0,0.11), 0 4px 4px rgba(0,0,0,0.18);
}

.addPad {
    padding: 20px;
}


.card {
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    /* height: 300px; */
    margin: 1rem;
    position: relative;
    width: 100%;
    padding: 20px;
}

.card-2 {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.greentext {
    color: #4aaa05
}

/* grey: #d8d8d8 */
/* light grey: #f4f4f4 */

.itemOdd {
    background-color: #d8d8d8 !important;
    color: #0a0a0a !important;
}

.itemEven {
    background-color: #f4f4f4 !important;
    color: #0a0a0a !important;
}