<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>InterDude | login</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main/fonts.css">
    <link rel="stylesheet" href="/css/main/home.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col s6">
                <h1 class="mainTitle">INTER<span class="boldMainTitle">DUDE</span> </h1>
                <p class="mainInfo">PREPARE FOR THE SUPERDREAM PACKAGE</p>
            </div>

            <div class="col offset-s3 s3 right-align">
                <ul class="collapsible right-align hoverable">
                    <li>
                        <div class="collapsible-header">
                        <div class="txt" style="text-align: right !important; align-items: right;">
                            <p style="text-align: right !important; padding-left: 10px;"><b>Ansh Mehra</b></p>       
                        </div>
                        
                        </div>                 
                        <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col s12 ">
                <div class="collection hoverable addBS addPad">
                    {{!-- <a href="#!" class="collection-item addBS"><span class="badge">1</span>Alan</a> --}}
                    <p class="collection-item center-align"><b><i class="fas fa-plus"></i> &nbsp &nbsp Schedule a New Appointment</b></p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s6">
                <div class="card card-2">
                
                
                </div>


            </div>
        </div>

    </div>
</body>
</html>